header{
    background-color: #276955;
   padding: 10px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 9999;
}
#contacto, #especialidad, #servicios, #inicio {
    color: aliceblue;
}

#contacto:hover, #especialidad:hover, #servicios:hover, #inicio:hover {
    color: #15a85f;
}
.navbar-toggler-icon {
  filter: invert(1);
}
footer{
  padding: 200px;
}
.footer-copyright{
  margin-top: 30px;
  margin-bottom: 11px;
}
/* Estilos para el footer */
footer {
  background-color: #333333;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
}

footer a:hover {
  color: #15a85f;
}

footer p {
  margin-bottom: 10px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.social-links {
  margin-bottom: 20px;
}

.logo {
  margin-bottom: 20px;
}

.contact-info p {
  margin: 5px 0;
}
.separator-line {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-top: 20px;
}

footer .container {
  padding-left: 15px;
  padding-right: 15px;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col-md-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

footer .col-md-4.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .col-md-4.text-md-end {
  text-align: end;
}

footer .col-md-12.text-center p {
  margin-bottom: 0;
}

footer .container .row:last-child .col-md-12.text-center {
  padding-top: 10px;
  border-top: 1px solid #aaaaaa;
  margin-top: 15px;
}

footer .container .row:last-child .col-md-12.text-center p {
  margin-bottom: 0;
}

footer .container .row:last-child .col-md-12.text-center strong {
  font-weight: bold;
}


body {
    background-color: #f8f9fa;


  }

  #container2 {
    padding-top: 50px;
  }

  .text-center {
    text-align: center;
  }

  .mission-vision {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }

  .mission-vision h3 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .mission-vision p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
  }

  .rounded-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .styled-list {
    list-style-type: square;
    padding-left: 20px;
  }
footer{
    background-color: #276955;
}

a{
  color: #fff;
}
#con :hover  {
  color: #a57141;
}
.navbar-nav .nav-item {
  margin-right: 10px;
  margin-left: 10px;
}
hr.line-fade {
  background-color: #15a85f;
  height: 2px;
  border: none;
  animation: line-fade 4s linear infinite;
}

@keyframes line-fade {
  0% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

  